examples/Complaint.json
[{"id":"b3a60fd4c861c5a0","type":"tab","label":"Tankerkönig Complaint","disabled":false,"info":"","env":[]},{"id":"336829844d6068bf","type":"tankerkoenig2-radius","z":"b3a60fd4c861c5a0","configNode":"24ba111aa07b8f80","latitude":"52.520008","longitude":"13.404954","radius":5,"fuelType":"","sort":"","name":"","x":410,"y":80,"wires":[["7525753db443bdce"]]},{"id":"723554fe093930b6","type":"inject","z":"b3a60fd4c861c5a0","d":true,"name":"Get gas stations","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":80,"wires":[["336829844d6068bf"]]},{"id":"04939c3cfe9f061d","type":"debug","z":"b3a60fd4c861c5a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1610,"y":80,"wires":[]},{"id":"7525753db443bdce","type":"change","z":"b3a60fd4c861c5a0","name":"Get first gas station","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.stations[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":80,"wires":[["cacfa7c181ae40e3"]]},{"id":"cacfa7c181ae40e3","type":"change","z":"b3a60fd4c861c5a0","name":"Only gas station UUID","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":80,"wires":[["7c6e7ebfb94f52d4"]]},{"id":"7c6e7ebfb94f52d4","type":"function","z":"b3a60fd4c861c5a0","name":"Change format","func":"msg.payload = {\n    \"uuid\": msg.payload,\n    \"complaintType\": \"wrongPetrolStationName\",\n    \"correction\": \"Example gas station\",\n    \"timestamp\": Math.floor(new Date().getTime() / 1000),\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":80,"wires":[["1ec894f0310751b8"]]},{"id":"1ec894f0310751b8","type":"tankerkoenig2-complaint","z":"b3a60fd4c861c5a0","configNode":"24ba111aa07b8f80","uuid":"","complaintType":"","correction":"","timestamp":"","name":"","x":1390,"y":80,"wires":[["04939c3cfe9f061d"]]},{"id":"24ba111aa07b8f80","type":"tankerkoenig2-config","name":""}]
