examples/Radius.json
[{"id":"b3a60fd4c861c5a0","type":"tab","label":"Tankerkönig Radius","disabled":false,"info":"","env":[]},{"id":"a91a5b9a5cf1fe44","type":"tankerkoenig2-radius","z":"b3a60fd4c861c5a0","configNode":"24ba111aa07b8f80","latitude":"","longitude":"","radius":5,"fuelType":"","sort":"","name":"","x":490,"y":80,"wires":[["1c73e911829aba45"]]},{"id":"91486177ab2fe02e","type":"inject","z":"b3a60fd4c861c5a0","name":"Custom location","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"longitude\":13.404954,\"latitude\":52.520008}","payloadType":"json","x":180,"y":80,"wires":[["a91a5b9a5cf1fe44"]]},{"id":"1c73e911829aba45","type":"debug","z":"b3a60fd4c861c5a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":80,"wires":[]},{"id":"336829844d6068bf","type":"tankerkoenig2-radius","z":"b3a60fd4c861c5a0","configNode":"24ba111aa07b8f80","latitude":"52.520008","longitude":"13.404954","radius":5,"fuelType":"","sort":"","name":"","x":490,"y":200,"wires":[["04939c3cfe9f061d"]]},{"id":"723554fe093930b6","type":"inject","z":"b3a60fd4c861c5a0","name":"Location in Radius node","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":200,"wires":[["336829844d6068bf"]]},{"id":"04939c3cfe9f061d","type":"debug","z":"b3a60fd4c861c5a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":200,"wires":[]},{"id":"dce68fa11add86bf","type":"tankerkoenig2-radius","z":"b3a60fd4c861c5a0","configNode":"24ba111aa07b8f80","latitude":"","longitude":"","radius":5,"fuelType":"","sort":"","name":"","x":490,"y":140,"wires":[["fac70161f50c101a"]]},{"id":"d886248fa69f1cdf","type":"inject","z":"b3a60fd4c861c5a0","name":"Everything custom, E5","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"longitude\":13.404954,\"latitude\":52.520008,\"radius\":5,\"sort\":\"price\",\"fuelType\":\"e5\"}","payloadType":"json","x":200,"y":140,"wires":[["dce68fa11add86bf"]]},{"id":"fac70161f50c101a","type":"debug","z":"b3a60fd4c861c5a0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"24ba111aa07b8f80","type":"tankerkoenig2-config","name":""}]
